{% extends "template.html" %}
{% block conteudo %}
    <h2 class="titulo-produtos-2">Produtos de Higiene Pessoal</h2>
    <ul class="produtos-comprar">
        <li>
            <img id="imagens-produtos-comprar" src="https://github.com/BastosDiogo/imagens-apps/blob/master/app-mercado/higiene_pasta_dente.png?raw=true">
            <p class="nome-produto">Pasta de Dente</p>
            <p class="nome-produto">R$ {{ preco }}</p>
        </li>
        
        <li>
            <img id="imagens-produtos-comprar" src="https://github.com/BastosDiogo/imagens-apps/blob/master/app-mercado/higiene_sabonete.png?raw=true">
            <p class="nome-produto">Sabonete</p>
            <p class="nome-produto">R$ {{ preco }}</p>
        </li>
        <li>
            <img id="imagens-produtos-comprar" src="https://github.com/BastosDiogo/imagens-apps/blob/master/app-mercado/higiene_shampoo.png?raw=true">
            <p class="nome-produto">Shampoo</p>
            <p class="nome-produto">R$ {{ preco }}</p>
        </li>
        <li>
            <img id="imagens-produtos-comprar-2" src="https://github.com/BastosDiogo/imagens-apps/blob/master/app-mercado/higiene_escova_pe.jpg?raw=true">
            <p class="nome-produto">Escova de dentes</p>
            <p class="nome-produto">R$ {{ preco }}</p>
        </li>
        <li>
            <img id="imagens-produtos-comprar" src="https://github.com/BastosDiogo/imagens-apps/blob/master/app-mercado/higiene_algodao.jpg?raw=true">
            <p class="nome-produto">Algodão tipo bola</p>
            <p class="nome-produto">R$ {{ preco }}</p>
        </li>
        <li>
            <img id="imagens-produtos-comprar-3" src="https://github.com/BastosDiogo/imagens-apps/blob/master/app-mercado/higiene_cotonete.jpg?raw=true">
            <p class="nome-produto">Cotonete</p>
            <p class="nome-produto">R$ {{ preco }}</p>
        </li>
        <li>
            <img id="imagens-produtos-comprar-3" src="https://github.com/BastosDiogo/imagens-apps/blob/master/app-mercado/higiene_fio.jpg?raw=true">
            <p class="nome-produto">Fio denteal</p>
            <p class="nome-produto">R$ {{ preco }}</p>
        </li>
        <li>
            <img id="imagens-produtos-comprar" src="https://github.com/BastosDiogo/imagens-apps/blob/master/app-mercado/higiene_papel.jpg?raw=true">
            <p class="nome-produto">Papel Higienico</p>
            <p class="nome-produto">R$ {{ preco }}</p>
        </li>
    </ul>
{% endblock %}