{% extends "template.html" %}
{% block conteudo %}
    <ul class="produtos">
        <li>
            <h2 class="titulo-produtos">Higiene Pessoal</h2>
            <a href="/produtos-higiene-pessoal">
                <img id="imagens-produtos" class="btn head_button" src="static\imagens\itens_higiene.png">
            </a>
        </li>
        <li>
            <h2 class="titulo-produtos">Bebidas</h2>
            <a href="/produtos-bebidas">
                <img id="imagens-produtos" class="btn head_button" src="static\imagens\itens_bebidas.png">
            </a>
        </li>
        <li>
            <h2 class="titulo-produtos">Petiscos</h2>
            <a href="/produtos-petiscos">
                <img id="imagens-produtos" class="btn head_button" src="static\imagens\itens_petiscos.png">
            </a>
        </li>
    </ul>
{% endblock %}