<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='geral.css') }}">
  </head>
<body>
    <header>
        <div class="caixa">
            <h1>
                <a href="/">
                    <img id="logo" src="static\imagens\logo_limpa.png">
                </a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/verificar-cpf">Cadastre-se</a></li>
                    <li><a href="/verificar-admin">Área Admin</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    <main>
        {% block conteudo %} {% endblock %}
    </main>
    <footer>
        <h3>
            <p class="texto-rodape">
                ®Todos os direitos reservados
            </p>
        </h3>
    </footer>
</body>
</html>

