{% extends "template.html" %}
{% block conteudo %}
<div class="form-adm">
    <ul>
        <li>
            <h2 id="adm-titulo">Por favor insira os dados solicitados:</h2>
        </li>
        <li>
            <form method="POST" action="/autenticar">
                <p id="adm"><label>Login:</label> <input class="form-control" type="text" name="login" required></p>
                <p id="adm_2"><label>Senha:</label> <input class="form-control" type="password" name="senha" required></p>
                <p id="enviar"><button class="botao" type="submit">Enviar</button></p>
            </form>
        </li>
    </ul>
</div>
<!-- <h2 style="color:rgb(31,48,74)">Vamos verificar se você consta em nossos cadastros.</h2>
    <h2 style="color:rgb(31,48,74)">Por favor insira os dados solicitados:</h2>
    <br>
    <br> -->
    

{% endblock %}